<div class="container">

  <div class="container">
    <div class='row mt-2' ><%= link_to 'Back to Home Page', root_path, class: 'btn btn-success' %></div>
  </div>

  <div class="col-12 mt-2 ">
    <div class="row">
      <div class="col-6">
        <h5>Email: <%= @board.email%></h5>
        <h5> Board Name: <%= @board.name %></h5>
      </div>
      <div class="col-6">
        <h5> Width: <%= @board.width %></h5>
        <h5> Height: <%= @board.height %></h5>
        <h5> Total mines: <%= @board.num_mines %></h5>
      </div>
    </div>
  </div>
  
  

  <div id="board">
  
    <% parsed_board_data.each do |row| %>
      <div style="display: flex;">
        <% row.each do |cell_value| %>
          <%= cell(cell_value) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .cell {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 50px;
  }

  #board {
   max-width: 1000px;
   max-height: 1000px;
   overflow: auto;

  }
</style>